body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.SUI-Page
{
    display: none;
    height: 100%;
    width: 100%;
}

.SUI-Page:last-child
{
    display: block;
}

.SUI-TextBox
{
    width: 100%;
}

.SUI-VFlexContainer
{
    display: flex;
    flex-direction: column;
}

.SUI-HFlexContainer
{
    display: flex;
    flex-direction: row;
}

.SUI-Icon::after
{
    content: attr(icon);
}

.SUI-Spacer
{
    flex: 1;
}